@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    /* Trava a rolagem global para o Layout assumir o controle */
    overflow: hidden;
    /* Opcional: Garante que o toque no celular seja firme */
    touch-action: pan-y;
}



body.print-mode .no-print {
    display: none !important;
}

@media screen {
    .only-pdf {
        display: none;
    }
}

@media print {
    .only-pdf {
        display: block;
    }
}

/* PDF */
.funcionario h2 {
    text-align: left !important;
}



.totais {
    display: flex;
    justify-content: flex-start;
    margin: 20px;

}

.totais span {
    font-size: 14px;
    font-style: italic;
    margin-right: 12px;

}

.credito {
    color: blue;
}

.debito {
    color: orangered;
}

.falta {
    color: red;
}

.saldo {
    color: green;
}